<h2>New message from <%= @name %> on Stories on a Map</h2>
<div style="white-space:pre-wrap;margin-bottom:1em"><%= @message %></div>
<i style="font-size:.9em;opacity:.6;">This message was sent via henrygd.me</i>