.modal-enter {
  margin-top: 30px;
  opacity: .01;
}
.modal-enter-active {
  margin-top: 0px;
  opacity: 1;
  transition: opacity .3s ease, margin .5s ease;
}
.modal-leave {
  margin-top: 0px;
  opacity: 1;
}
.modal-leave-active {
  margin-top: -30px;
  opacity: .01;
  transition: opacity .3s ease, margin .5s ease;
}

.opacity-enter {
  opacity: .01;
}
.opacity-enter.opacity-enter-active {
  opacity: 1;
  transition: opacity .3s ease;
}

.opacity-leave {
  opacity: 1;
}
.opacity-leave.opacity-leave-active {
  opacity: .01;
  transition: opacity .3s ease;
}
